<html>
<div>
   <head>
   {% load bootstrap3 %}
   {% bootstrap_css %}
   {% bootstrap_javascript %}
   {% bootstrap_messages %}

   <title>KidTasks</title>
   </head>
   <body>

   <div class="page-header">
      <h1>{% block title %}KidTasks Login{% endblock %}</h1>
   </div>

   <div>
      <form method="post">
         {% csrf_token %}
         {% bootstrap_form form %}
         {% buttons %}
         <button type="submit" name="save" value=True class="btn btn-success">Login</button>
         {% endbuttons %}
      </form>
   </div>
   </body>
</div>
</html>


