{% if kids %}
    {% for kid in kids %}
        <h1>{{ kid.name }}</h1>
        <ul>
        {% for day_schedule in kid.day_schedules.all %}
            {% if day_schedule %}
                <li>{{ day_schedule.day_name }} </li>
                <ul>
                {% for task in day_schedule.tasks.all %}
                    <li>{{ task.name }} </li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endfor %}
        </ul>
    {% endfor %}
{% else %}
    <p>No kids are present.</p>
{% endif %}
