{% block content %}
{% if kids %}
    <ul>
        {% for kid, days in kids.items %}
            <h1>{{ kid }}</h1>
            <ul>
            {% for day, tasks in days %}
                <li>{{ day }}</li>

                <ul>
                {% for task in tasks %}
                    <li><a href="{% url 'rep_task_update' task.id %}">
                        {{ task.name }}
                    </a></li>
                {% endfor %}
                </ul>


            {% endfor %}
            </ul>

        {% endfor %}
    </ul>
{% else %}
    <p>No kids are present.</p>
{% endif %}
<form action="{% url 'rep_task_new' %}" method="get">
{% csrf_token %}
<input type="submit" value="Add New Repeating Task" />
</form>

{% endblock %}

