{% extends 'tasks/base.html' %}
{# Load the tag library #}
{% load bootstrap3 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

{% block title %} Repeating Tasks {% endblock %}

{% block content %}
{% load tasks_extras %}
{% if kids %}
    <ul>
        {% for kid, days in kids.items|sort %}
            <h1>{{ kid }}</h1>
            <ul class="list-group">
            {% for day, tasks in days %}

                <li class="list-group-item">{{ day }}</li>
                <ul class="list-group"><li class="list-group-item">
                {% for task in tasks %}
                    <a href="{% url 'rep_task_update' task.id %}"> {{ task.name }}, </a>
                {% endfor %}
                </li></ul>

            {% endfor %}
            </ul>

        {% endfor %}
    </ul>
{% else %}
    <p>No kids are present.</p>
{% endif %}
{% endblock %}

