{% load tasks_extras %}
{% block content %}
<h1>Repeating Tasks</h1>
{% if kids %}
    <ul>
        {% for kid, days in kids.items|sort %}
            <h1>{{ kid }}</h1>
            <ul>
            {% for day, tasks in days %}

                <li>{{ day }}</li>
                <ul><li>
                {% for task in tasks %}
                    <a href="{% url 'rep_task_update' task.id %}"> {{ task.name }}, </a>
                {% endfor %}
                </li></ul>

            {% endfor %}
            </ul>

        {% endfor %}
    </ul>
{% else %}
    <p>No kids are present.</p>
{% endif %}
<br/> <a href="{% url 'task_new' %}?from={{ request.path|urlencode }}">Add New Task</a>
<br/> <a href="{% url 'rep_task_new' %}?from={{ request.path|urlencode }}">Add New Repeating Task</a>
<br/> <a href="{% url 'kid_new' %}?from={{ request.path|urlencode }}">Add New Kid</a>
<br/> <a href="{% url 'today' %}">View Today's Tasks</a>
{% endblock %}

