{% extends 'tasks/base.html' %}

{% block title %} Repeating Tasks {% endblock %}

{% block content %}
{% load tasks_extras %}
{% if kids %}
    <ul>
        {% for kid, days in kids.items|sort %}
            <h1>{{ kid }}</h1>
            <ul>
            {% for day, tasks in days %}

                <li>{{ day }}</li>
                <ul><li>
                {% for task in tasks %}
                    <a href="{% url 'rep_task_update' task.id %}"> {{ task.name }}, </a>
                {% endfor %}
                </li></ul>

            {% endfor %}
            </ul>

        {% endfor %}
    </ul>
{% else %}
    <p>No kids are present.</p>
{% endif %}
{% endblock %}

