{% extends 'tasks/base.html' %}

{% block title %} Tasks For {{ day }}{% endblock %}

{% block content %}
{% if kids %}
    <div class="table-responsive">
       <table class="table">
         {% for name, tasks in kids.items %}
         {% if tasks %}
         <tr>
            <td  class="col-md-1 kidname">{{ name }}</td>
            {% for task in tasks %}
            <td class="col-md-1">
                <div id="taskbutton">
                   <input type="button"
                   {% if task.completed %}
                      class="btn btn-success"
                   {% else %}
                      class="btn btn-danger"
                   {% endif %}
                      value="{{ task.name }}"
                      onclick="location.href = '{% url 'update' task.id %}';"
                   >
                </div>
             </td>
             {% endfor %}
             <!-- Add empty element to take up rest of the row-right aligns -->
             <td  class=""></td>
         </tr>
         {% endif %}
         {% endfor %}
       </table>
    </div>
{% else %}
    <p>No kids are present.</p>
{% endif %}
{% endblock %}
